.Ui {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.Ui-canvas {
  z-index: 1;
  position: relative;
  flex: 1;

  background-image: radial-gradient(at 50% 70%, #200f20 40%, #090b1f 80%, #050523 100%);
}

.Ui-header,
.Ui-footer {
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;

  padding: .5em;
  text-align: center;
  font-size: .5em;
}

.Ui-footer {
  top: auto;
  bottom: 0;
}

.Ui-resource {
  max-width: 472px;
  position: relative;

  width: 100%;
  height: 0;
  /* padding-top: 10%; */
  padding-top: 50px;
}
.Ui-resource::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: .3;
  background-image: url(/assets/people.png);
  background-size: auto 100%;
}
.Ui-resource-value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: calc(100% * var(--x, 0));
  background-image: url(/assets/people.png);
  background-size: auto 100%;

  transition: width .2s ease-in-out;
}

.Ui-thermo {
  max-width: 472px;
  position: relative;
  width: 100%;
  height: 0;
  /* padding-top: 10%; */
  padding-top: 50px;
  background-image: url(/assets/thermometer.png);
  background-size: 100% 100%;
}

.Ui-thermo-inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  bottom: 0;
}
.Ui-thermo-meter {
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  width: 2%;
  margin-left: -1%;

  background-color: rgba(222, 11, 11, .8);
  border-radius: .3em;

  left: calc(100% * var(--x, .5));
  transition: left .2s ease-in-out;
}
.Ui-thermo-meter--current {
  top: -5%;
  border: 1px solid black;
  /* animation: blink 1s alternate infinite cubic-bezier(.5, 0, 1, 1); */
}
.Ui-thermo-meter--goal {
  height: 100%;
  width: 1%;
  margin-left: -.5%;
  background-color: rgba(22, 222, 11, .3);
  /* animation: blink 1s alternate infinite cubic-bezier(.5, 0, 1, 1); */
}
.Ui-thermo-meter--boil {
  height: 100%;
  width: 1%;
  margin-left: -.5%;
  background-color: rgba(255, 11, 11, .5);
  animation: blink 1s alternate infinite cubic-bezier(.5, 0, 1, 1);
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.Ui-year {
  position: absolute;
  left: 50%;
  top: 100%;

  /* width: 20%; */
  /* padding-top: 14.76%; */
  width: 100px;
  height: 73px;
  margin-left: -1px;

  left: calc(100% * var(--x, .5));
  transition: left .2s ease-in-out;
}
.Ui-year::before,
.Ui-year::after,
.Ui-year-text {
  transform: translateX(-50%);
}

.Ui-year::before {
  content: '';
  position: absolute;
  top: 28%;
  left: 1%;
  right: 10%;
  bottom: 10%;
  background: white;
  /* box-shadow: inset 4px 2px 4px 5px rgba(22, 0, 0, .5); */
}
.Ui-year::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(/assets/calendar_red.png);
  background-size: 100% 100%;
}
.Ui-year-text {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: red;
}

.Ui-canvas-effect {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: var(--opacity, .5);

  background-color: red;

}